@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Roboto Flex', sans-serif;
}
#body{
    background-color: rgb(240,241,247);
    
    margin: 0%;
    padding: 0%;
}
/* -------------------------------left section--------------------------------- */
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#head-main {
    padding: 1%;
    padding-bottom: 0;
    background-color: rgb(240, 241, 247);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#section-left {
    width: 20%;
}

#section-left-div {
    width: 100%;
}

#section-left-div img {
    width: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.material-symbols-outlined >p{
    font-size:70%;
}
#categories-tag{
    display: flex;
    margin-top: 5px;
}
#categories-tag:hover{
    color: rgb(0, 180, 197);
    cursor: pointer;
}
#categories-tag p{
    margin: 0;
    margin-top: 2px;
    margin-left: 3px;
}
/* -------------------------------right section--------------------------------- */
#section-right{
    width: 100%;
    margin-left: 50px;
    margin-right: 10px;
}
#section-right-top{
    display: flex;
    justify-content: space-between;
}
#section-right-btm{
    display: flex;
    width: 99%;
    justify-content: space-between;
}
#search-bar{
    display: flex;
    width: 200%;
    height: 43px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}
#header-select{
    border: 0ch;
    margin-left: 2px;
}
#header-input-div{
    width: 73%;
    height: 28px;
}
#header-input{
    width: 100%;
    height: 98%;
    border: 0;
    padding: 0;
}
#header-input-div{
    display: block;
    align-items: center;
}
#header-input:focus{
    outline: none;
}
#header-search-button{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(32,35,64);
    border: 0;
    height: 43px;
}
#header-search-button:hover{
    cursor: pointer;
}
#header-search-button .material-symbols-outlined{
    color: white;
}
#header-right-image{
    width: 25%;
}
#header-right-image img{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
#section-right-btm p>a{
    font-size: 85%;
}
#header-right-btm-list{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
#header-right-btm-list a:hover{
    color: rgb(15,171,162);
}
#header-right-btm-btn{
    display: flex;
    width: 25%;
    justify-content: space-between;
}
#header-right-btm-btn {
    padding-top: 7px;
    align-items: center;
}
#header-right-btm-btn > div p{
    margin-top: 3px;
}
#header-right-btm-btn > div >a{
    display: flex;
}
#header-right-btm-btn > div >a>p{
    font-size: 105%;
}
#header-right-btm-btn > div >a:hover{
    color: rgb(0, 180, 197);
}

#heading-cart{
    padding-top: 12%;
}



/* main body css start */
#cart-payment-div{
    display: flex;
  flex-wrap: wrap;
    /* background-color: aqua; */
    /* height: 500px; */
    gap:40px;
    margin: auto;
}
#shipment-div{
    /* background-color: blue; */
    width:55%;
    /* height:40%; */
    /* border: 2px solid black; */
   
}
#cart-payment-div img{
    width: 100px;
    /* border: 4px solid red; */
}


.titleclass h2 {
    /* border: 2px solid black; */
    margin: 0px;
    padding: 0;
    /* background-color: aqua; */

}
.titleclass h3{
   
    /* border: 2px solid black; */
    margin: 0px;
    padding: 0;
    /* background-color: aqua; */
    font-size: 25px;
    font-weight: 400;

}
.titleclass h4{
   
    /* border: 2px solid black; */
    margin: 0px;
    padding: 0;
    /* background-color: aqua; */

}
.titleclass p{
   
    /* border: 2px solid black; */
    margin: 0px;
    padding: 0;
    /* background-color: aqua; */
    font-size: 12px;

}
/* bjk */
.qtyclass{
    display: flex;
    margin-top: 10px;
}
.selected{
    margin-left: 10px;

}



#payment-div{
    background-color: rgb(240,241,247);
    width:40%;
    height: 700px;;
    /* border: 2px solid black; */
}
.h2-div h2{
    color:rgb(32,35,107);
    border-bottom: 1px solid  rgb(32,35,107) ;
    padding: 11px;
    margin: 4%;
}
#heading-cart{
    color: rgb(32,35,107);
    margin-left: 3%;
    margin-bottom: -1%;
}
#div-subtitle{
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -5%;
    justify-content: space-between;
}
#div-subtitle,p{
    font-size: 20px;
}
#sezzle-logo img{
    width: 20px;
}
#se-text{
    font-size: 20px;
    font-weight: bold;
    color: rgb(32,35,107);
}
#zip-code{
    margin-left: 45%;
    background-color: white;
    /* width: 47%; */
    
    /* margin: auto; */
}
#zip-code,input,button{
    padding: 12px;
}
#code-input{
    width: 50px;
    /* background-color: red; */
}
#zip-code>button{
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(32,35,107);
}
#para-div{
    margin-top: -5%;
    margin-left: 4%;
    margin-right: 4%;
}
#para-div p{
    font-size: 16px;
}
#para-div span{
    font-size: 20px;
    font-weight: bold;
}
#checkout{
    border-radius: 25px;
    padding: 14px;
    color: white;
    background-color: rgb(32,35,107);
    font-size: 17px;
    font-weight: bold;
    border: none;
    margin-left: 60%;
    margin-top: 5%;
}
#checkout:hover{
    background-color: rgb(15, 15, 53);
}
#checkout-card{
    /* border: 1px solid rgb(15, 15, 53); */
    background-color: white;
    width: 65%;
    /* height: 40%; */
    margin-top: 7%;
    margin-left: 30%;
}
#checkout-para{
font-size: 17px;
margin-left: 2%;
}
.checkout-btn img{
    width: 200px;
    border-radius: 30px;
    height: 40px;
  
}
.checkout-btn{
  border: none;   
  cursor: pointer; 
  background-color: white;
  margin-top: -2%;
  margin-left: 120px;
}
#learn-div{
    margin-left: 4%;
    margin-right: 4%;
    background-color: rgb(240,241,247);
    padding: 10px;
}
#learn-div p{
    font-size: 17px;
}

#learn-div span{
  color: rgb(32,35,107);
  font-weight: bold;

}
#store-total{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
}
/* add cart product hear */
#cart-product{
    /* height: 300px; */
    margin-left:4%;
    margin-right: 4%;
    /* border-bottom: 1px solid rgb(204, 210, 240); */
   
}
#main{
    display: flex;
    gap:10px;
    margin-top: 2%;
    border-bottom:1px solid rgb(196, 196, 231);
}
#main>div{
    margin-left: 2%;
    margin-right: 2%;
    /* background-color: aqua; */
    margin-bottom: 10%;
    margin-top: 3%;
    
}

#main button{
    border:1px solid rgb(32,35,107);
    border-radius: 20px;
    font-weight: bold;
    width: 100px;
    height: 36px;
   
}
#main button:hover{
    background-color:rgb(9, 10, 48);
    color: white;
} ;

/* ------------------------------footer section--------------------- */

#footer-main{
    width: 100%;
    margin-top: 20px;
    bottom: 0;
}
/* #footer-main hr{
    margin: 0%;
    color: white;
    background-color: white;
} */
#footer-div-1{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    background-color: rgb(84,88,113);
    color: white;
    border-bottom: 1px solid white;
}
#footer-div-1 button{
    border: 0ch;
    padding: 5px;
    border-radius: 12px;
    background-color: white;
    color: black;
}
#footer-div-1 button:hover{
    background-color: black;
    color: white;
}
#footer-div-2{
    display: flex;
    background-color: rgb(84,88,113);
    color: white;
    height: 50px;
    padding: 0 10px;
    align-items: center;
}
#footer-div-2 a>b{
    color: white;
}
#footer-div-3{
    border-bottom: 1px solid black;
    padding: 0 10px;
}
#footer-div-3 p{
    font-size: 80%;
}
#footer-div-4{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer-div-4 img{
    width: 5%;
    margin: 0px 7px;
}
#footer-div-5{
    display: flex;
    justify-content: center;
}